.ccStyles{
  margin: 5px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.grey{
  background-color: grey;
  color: white;
}

.yellow{
  background-color: #ddbb55;
}

.light{
  background-color: #eeeeee;
}


